//**
// * Rijkshuisstijl (Digitale Overheid) - page_front-page-nieuws.less
// * ----------------------------------------------------------------------------------
// * styling voor page_front-page-nieuws.php
// * ----------------------------------------------------------------------------------
//


main .container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #C2C2C2;
  padding-top: 1rem;

  & > h2,
  & > h3 {
    margin-top: 0;
  }
}
