//**
// * Rijkshuisstijl (Digitale Overheid) - search-results.less
// * ----------------------------------------------------------------------------------
// * styling voor een enkel bericht
// * ----------------------------------------------------------------------------------
//



.search-results {

  .block article {

    //========================================================================================================
    @media only screen and (min-width: ( @break_650px ) ) {

      .listitem_arrow( @a_color_default, 12px, 12px ); // done

      &:before {
        float: left;
        width: @padding_arrow_before;
      }

      &.type-document {
        &:before {
          top: 8px;
        }
      }

      &.taxonomy {
        &:before {
          top: 22px;
        }
      }

      h2, h3 {
        margin-top: 0;
      }

      a {
        float: right;
        width: ~"calc(100% - @{padding_arrow_before})";
        margin-left: 0;
      }
    }
    //========================================================================================================
  }
}


.search-results {
  &.full-width-content .content {
    max-width: 790px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
