//**
// * Rijkshuisstijl (Digitale Overheid) - dossier-overview.less
// * ----------------------------------------------------------------------------------
// * styling voor de header bij een dossier
// * ----------------------------------------------------------------------------------
//


.in-dossier-context {


  .content {
//    border: 2px solid red;
    background: @wit;
    @media only screen and (min-width: ( @break_1200px ) ) {
      transform: translateY(-150px);
      padding: 2rem;
      z-index: 300;
    }
  }
}

.dossier-overview {

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  img {
    display: block;
  }

}

XXX.dossier-overview {

  a {
    color: @txt;

    &:hover,
    &:active,
    &:focus {
      color: @txt;
      text-decoration: underline;
    }
  }

  .wrap {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  @media only screen and ( max-width: ( @break_1200px ) ) {
    nav,
    .entry-title,
    .taxonomy-title {
      padding-left: 1em;
    }
  }

  nav {
    li {
      padding-left: 1.25em !important;
      .listitem_arrow_absolute(@txt, 10px, 8px); // done
    }
  }

  @media only screen and (min-width: ( @break_650px ) ) {
    nav {
      ul {
        width: 95%;
        float: left;
        display: block;
        column-count: 2;
      }
    }
  }

  @media only screen and (min-width: ( @break_1200px ) ) {
    nav {
      ul {
        column-count: 3;
      }
    }
  }
}
