//**
// * Rijkshuisstijl (Digitale Overheid) - grid.less
// * ----------------------------------------------------------------------------------
// * styling voor een container met blokken
// * ----------------------------------------------------------------------------------
//

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;


  &.stretch {
    align-items: stretch;
  }

  @media only screen and (min-width: ( @break_650px ) ) {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .griditem {

    @media only screen and (max-width: ( @break_650px ) ) {

     &.colspan-1 {
        max-width: 450px;
      }
    }

    @media only screen and (min-width: @break_500px) {
      margin: .5rem .5rem .5rem .5rem;
    }

    //  @media only screen and (min-width: ( @break_500px ) ) and max-width: 700px {
    @media only screen and (min-width: @break_500px) and (max-width: ( @break_900px - 1 ) ) {
      &.colspan-1 {
//        max-width: 50%;
        flex-basis: calc(50% - 2rem);
        flex-grow: 0;
      }
    }

    @media only screen and (min-width: ( @break_900px ) ) {

      margin: 1rem 1rem 1rem 1rem;

      &.colspan-1 {
        flex: 0 1 calc(33.3% - 2rem);
      }

      &.colspan-2 {
        flex: 1 1 calc(66.6% - 2rem);
      }

      &.colspan-3 {
        flex: 1 1 calc(100% - 2rem);
      }
    }
  }
}

