//**
// * Rijkshuisstijl (Digitale Overheid) - widgets.less
// * ----------------------------------------------------------------------------------
// * styling voor een container met blokken
// * ----------------------------------------------------------------------------------
//

.widget {
  ul, ol {
    margin: 1rem 1rem 1rem 0;
    padding-left: 0;
  }

  ul li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    a {
      color: @communicatiekleur_vol;
      .listitem_arrow_flex(@communicatiekleur_vol);
      padding-left: 1rem;
      text-decoration: none;

      &:hover {
        color: @a_color_hover;
        text-decoration: underline;
      }

      &:active,
      &:focus {
        text-decoration: underline;
        color: @a_color_active;
      }

      &.extern {
        .external_link_icon(@communicatiekleur_vol);
      }
    }
  }


  ul ul {
    margin-top: .5em;
    margin-left: 1em;

    li {
      margin-top: 0;
    }
  }
}

.site-footer {
  .widget {
    ul li {
      a {
        .listitem_arrow_flex(@wit, .3rem, 1rem, @wit, @wit, @wit);

        &:hover {
          color: @wit;
        }
      }
    }
  }
}


.widget-banner-mailinglijst {
  border: 10px solid red;
}

.header-widget-area {
  width: 50%;
  width: calc(50% - 25px);
  float: right;
  padding: 1rem 0 1rem 1rem;
}

.widget-sidebar-alt,
.aux-info-bar {
  .widget {
    &:not(.widget_newsletterwidget) {

      padding-bottom: 1rem;

      h2 {
        .add_header_decoration();
      }

      & + .widget {
        margin-top: 1rem;
      }
    }
  }
}

// styling voor social media widget
.socialmedia_styling();
